CREATE TABLE {{.Name}}_read (
    id          BIGINT PRIMARY KEY,
{{- range .Fields}}
    {{.DBTag}}  {{.SQLType}} NOT NULL {{.SQLDefault}},
{{- end}}
    created_at  TIMESTAMPTZ NOT NULL,
    created_by  TEXT        NOT NULL,
    updated_at  TIMESTAMPTZ NOT NULL,
    updated_by  TEXT        NOT NULL,
    is_deleted  BOOLEAN     NOT NULL DEFAULT false
);
CREATE INDEX idx_{{.Name}}_read_not_deleted ON {{.Name}}_read (id) WHERE is_deleted = false;
